{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/logistik-theme.css' %}">
{% endblock %}

{% block branding %}
<div class="admin-branding-wrap">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Relief Supplies Logistics Control Center</a>
    </h1>
    <p class="admin-subtitle">Coordination of Orders, Containers, Boxes and Inspections</p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
